@media (max-width: 992px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__left {
    margin-right: 0;
  }
  .footer__right {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 39px;
  }
  .header__link {
    font-size: 18px;
  }
  .hero__left {
    padding: 35px 0;
  }
  .hero__title {
    font-size: 40px;
    line-height: 100%;
  }
  .hero__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 150%;
  }
  .products__title {
    font-size: 30px;
  }
  .products__item {
    grid-column: 6 span;
  }
  .article__title {
    font-size: 30px;
  }
  .news {
    padding-top: 72px;
    background-image: url(../img/new-2-tablet.jpg);
  }
  .news__title {
    margin-bottom: 30px;
    padding-left: 81px;
    max-width: 510px;
    line-height: 100%;
    background-size: 60px 60px;
  }
  .news__text {
    font-size: 18px;
    max-width: none;
  }
  .about__left {
    grid-column: 12 span;
  }
  .about__right {
    padding-top: 40px;
    grid-column: 12 span;
  }
  .about__title {
    font-size: 30px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__left {
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__right {
    padding-top: 30px;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0 33px;
  }
  .btn {
    font-size: 18px;
  }
  .header {
    padding: 16px 0;
  }
  .header__container {
    flex-direction: column;
    align-items: center;
  }
  .header__left {
    margin-bottom: 10px;
    text-align: center;
  }
  .header__right {
    flex-grow: 1;
    border-top: 1px solid #c3d1c6;
    padding-top: 16px;
    width: 100%;
    margin-right: auto;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__text {
    margin-bottom: 11px;
    font-size: 16px;
  }
  .products__top {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .products__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .products__item {
    grid-column: 6 span;
  }
  .article {
    align-items: center;
  }
  .article__content {
    padding-top: 15px;
  }
  .article__title {
    font-size: 24px;
  }
  .article__author {
    font-size: 16px;
  }
  .article__materials {
    font-size: 16px;
  }
  .article__price {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .news {
    padding: 50px 0;
    background-image: url(../img/new-3-mini.jpg);
  }
  .news__title {
    margin-bottom: 19px;
    font-size: 24px;
    max-width: 400px;
    padding-left: 70px;
    background-size: 50px 50px;
  }
  .news__text {
    font-size: 16px;
    max-width: none;
  }
  .about {
    padding: 50px 0;
  }
  .about__right {
    padding-top: 30px;
  }
  .about__title {
    font-size: 34px;
  }
  .about__text {
    font-size: 16px;
    line-height: 140%;
  }
  .footer__right {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .footer__contacts {
    padding-top: 16px;
    border-top: 1px solid #c3d1c6;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    background-color: var(--white);
  }
  .header__left {
    margin-bottom: 14px;
  }
  .header__right {
    position: relative;
    padding: 16px 0;
    border: none;
  }
  .header__right::after {
    content: "";
    position: absolute;
    top: 0;
    left: -33px;
    right: -33px;
    height: 100%;
    z-index: 0;
    background-color: var(--green-light1);
  }
  .header__right .header__list {
    position: absolute;
    left: -200%;
    top: 0;
    background-color: var(--green-light1);
    padding-top: 76px;
    padding-left: 15px;
    width: calc(100% + 66px);
    height: 100vh;
    z-index: 20;
  }
  .header__right .header__list.active-menu {
    left: -33px;
  }
  .header .header-burger {
    position: relative;
    z-index: 100;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
  }
  .header .header-burger span {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: var(--dark);
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
  }
  .header .header-burger::before, .header .header-burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--dark);
    transition: all 0.5s ease;
  }
  .header .header-burger::before {
    top: 0;
  }
  .header .header-burger::after {
    bottom: 0;
  }
  .header .header-burger.active-burger::before {
    content: "";
    rotate: 45deg;
    top: 14px;
  }
  .header .header-burger.active-burger::after {
    content: "";
    rotate: -45deg;
    bottom: 14px;
  }
  .header .header-burger.active-burger span {
    display: none;
  }
  .header__link {
    position: relative;
    z-index: 5;
  }
  .header__list {
    display: block;
  }
  .header__item {
    margin-bottom: 50px;
  }
  .hero {
    padding-top: 60px;
  }
  .hero__left {
    padding-top: 0;
    grid-column: 2 span;
  }
  .hero__right {
    display: none;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__text {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .hero__button.btn {
    padding: 13px 29px;
    min-width: auto;
  }
  .products {
    padding-top: 40px;
    padding-bottom: 57px;
  }
  .products .products-tab {
    width: 100%;
    overflow-x: auto;
  }
  .products__item {
    grid-column: 2 span;
  }
  .products__button {
    font-size: 18px;
    padding: 14px 40px;
  }
  .about__left {
    grid-column: 2 span;
  }
  .about__right {
    grid-column: 2 span;
  }
  .about__team {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .footer__left {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .footer__left img {
    margin-bottom: 20px;
  }
  .footer__right {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .footer__contacts {
    padding-top: 16px;
    border-top: 1px solid #c3d1c6;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer__columns {
    flex-direction: column;
    gap: 20px;
  }
  .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .footer__copyright span {
    margin-top: 0;
  }
}/*# sourceMappingURL=media.css.map */