:root {
    //! Шрифты
    --font-family: "Raleway", sans-serif;
    //! Цвета
    --white: #fff;
    --gray: #E0E0E0;
    --dark: #2c2d35;
    --dark-text: #86928b;
    //!green
    --green: #598d66;
    --green-light: #d4e8d9;
    --green-light1: #e1ede6;
    --green-black: #376b44;
    //!green
    --yellow: #eedb6d;
    --yellow-light: #faeb97;
    --yellow-black: #d9b949;
    --yellow-brown: #a38314;


    --gap: 30px;
  }
